@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');

:root {
  /* Header height  */
  --header-height: 56px;
  /* colors */
  --primary-color: #ED0049;
  --secondary-color: #0F518C;
  --background-color: #ffffff;
  --text-color: #000000;
  --color: #eceff1;
  --color-price: #424242;
  --color-cart: brown;
  --color-to-close: rgb(255, 0, 0) ;
  --color-footer: #272626;
  --card-color: hsl(0, 0%, 90%);

 

  /* Font and typography */
  --big-font: 2rem;
  --medium-font: 1.5rem;
  --normal-font: 1rem;
  --small-font: .8rem;
  --tiny-font: .75rem;

  /* Font weight */
  --font-tiny: 300;
  --font-normal: 400;
  --font-medium: 600;
  --font-bold: 700;

  /* Margins  */
  --sp-0-5: .5rem;
  --sp-0-75: .75rem;
  --sp-1: 1rem;
  --sp-1-5: 1.5rem;
  --sp-2: 2rem;
  --sp-2-5: 2.5rem;
  --sp-3: 3rem;

  /* z index  */
  --z-fixed: 1;
  --z-modal: 2;
}
@media screen and (min-width: 992px) {
  :root {
    --big-font: 2.5rem;
    --medium-font: 2rem;
    --normal-font: 1.25rem;
    --small-font: 1rem;
    --tiny-font: .8rem;
  }
}

/* ======= BASE ======== */
html {
  font-size: 16px;
  line-height: 1.5;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

button,
input,
textarea {
  font-family: var(--body-font);
  font-size: var(--normal-font);
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font);
  font-weight: var(--font-normal);
  color: var(--text-color);
  background-color: var(--body-color);
}

h1,
h2,
h3,
h4 {
  font-family: var(--title-font);
  color: var(--title-color);
  font-weight: var(--font-medium);
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
  user-select: none;
}

/* ======= LOADER ======== */
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background-color);
  z-index: var(--z-modal);
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader__container span {
  display: inline-block;
  width: var(--sp-3);
  height: var(--sp-3);
  background-color: var(--primary-color);
  border-radius: 50%;
  animation: pulse 1.0s infinite ease-in-out;
}

.loader--hidden {
  opacity: 0;
  visibility: hidden;
  transition: all .5s ease-in-out;
}

@keyframes pulse {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1.0);
    opacity: 0;
  }
}

/* ===============  BASE  ==================== */

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

/* ==================  BOTON DARKMODE  =================== */
body.dark {
  background-color: #000000;
}

/* Estilos para el modo oscuro */
.dark .products__title {
  color: #fff; /* Color del texto en modo oscuro */
}

/* Estilos para el modo claro */
.products__title, .cart__count {
  color: #000; /* Color del texto en modo claro */
}

.dark .cart{
  background-color: #000000;
  color: var(--background-color);
  border: 1px solid var(--color-price);
}

.dark .product__content{
  background-color: var(--color-price);
}

.dark .show--menu{
  background-color: #000;
  border: 1px solid var(--color-price);
}


.dark .bx-x{
  color: red;
}

.dark .cart__total{
  color: #000;
}

.dark .bx-trash{
  color: var(--background-color);
}

.dark .bx-plus, .dark .bx-minus{
  color: var(--background-color);
}

/* scroll bar */
::-webkit-scrollbar {
  width: .6rem;
  background: hsl(0, 0%, 74%);
}

::-webkit-scrollbar-thumb {
  background: hsl(0, 0%, 17%);
}

/* selection */
::selection {
  background-color: var(--primary-color);
  color: var(--background-color);
}

/* =============  SWITCH DARK MODE============ */
.switch {
  background: #343058;
  border-radius: 100px;
  border: none;
  position: relative;
  cursor: pointer;
  display: flex;
  outline: none;
}

.switch::after {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  background: #f1f1f1;
  top: 0;
  left: 0;
  right: unset;
  border-radius: 100px;
  transition: .3s ease all;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, .2);
}

.switch span{
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    background: none;
    color: #fff;
}

.switch.active {
  background: orange;
  color: #000000;
}

.switch.active::after{
  right: 0;
  left: unset;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
}

h3 {
  margin-top: 10px;
  font-size: 18px;
}

p {
  margin-top: 5px;
  font-size: 14px;
  font-weight: bold
}

main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* ======= REUSABLE CSS CLASSES ======== */
.section {
  padding: var(--sp-2) 0 var(--sp-1);
}

.section--title,
.container {
  max-width: 1024px;
  margin: 0 1rem;
}

/* ================ LOADER ================= */
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background-color);
  z-index: var(--z-modal);
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader__container span {
  display: inline-block;
  width: var(--sp-3);
  height: var(--sp-3);
  background-color: var(--primary-color);
  border-radius: 50%;
  animation: pulse 1.0s infinite ease-in-out;
}

.loader--hidden {
  opacity: 0;
  visibility: hidden;
  transition: all .5s ease-in-out;
}

@keyframes pulse {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1.0);
    opacity: 0;
  }
}

@media (max-width: 768px) {
  .nav__menu {
    position: fixed;
    bottom: var(--header-height);
    left: -100%;
    width: 100%;
    height: calc(max-content - var(--header-height));
    padding: var(--sp-3) 0 var(--sp-2);
    background-color: var(--bg-color);
    z-index: var(--z-fixed);
    transition: left .5s ease-in-out;
  }
}




/* ===============  HEDER  ==================== */
.header {
  position: fixed;
  left: 0;
  width: 100%;
  background-color: transparent;
  z-index: var(--z-fixed);
  box-shadow: 0 0 10px hsla(0, 0%, 0%, 10%);
}


.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  display: flex;
  align-items: center;
}

.nav__logo img{
  width: 50px; 
  height: 50px; 
}

.nav__logo img:hover{
  transform: scale(1.7);
  transition: all 0.3s ease;
}


@media (max-width: 768px) {
  .nav__menu {
    position: fixed;
    top: var(--header-height);
    left: -100%;
    width: 100%;
    height: 200px;
    background-color: var(--background-color);
    z-index: var(--z-fixed);
    transition: left .5s ease-in-out;
  }
  
}

.nav__menu .btn--close {
  position: absolute;
  top: var(--sp-0-75);
  right: var(--sp-0-75);
  width: var(--sp-2);
  height: var(--sp-2);
  font-style: var(--medium-font);
  z-index: var(--z-fixed);
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
}

.nav__link {
  display: flex;
  align-items: center;
  padding: var(--sp-0-75) var(--sp-1);
  color: var(--text-color);
  transition: color .3s ease-in-out;
}

.nav__buttons {
  display: flex;
  align-items: center;
  gap: var(--sp-1);
}

.nav__btn i {
  font-size: 1.25rem;
}

.btn--cart {
  position: relative;
}

.notify {
  position: absolute;
  top: -5px;
  right: -11px;
  width: 20px;
  height: 20px;
  background-color: var(--primary-color);
  font-size: var(--tiny-font);
  color: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s ease-in-out,
              visibility .3s ease-in-out;
}

.product__btn:hover {
  background-color: var(--primary-color);
  color: var(--background-color);
}


/* Show Menu */
.show--menu {
  left: 0;
}

/* Show Notify */
.show--notify {
  opacity: 1;
  visibility: visible;
}

header.abajo{
  background: var(--color-footer);
}

/* ======= MAIN ======== */
/* Products */
.products__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: var(--sp-2);
}

.products__title {
  margin-bottom: var(--sp-2);
}

.product {
  overflow: hidden;
}

.product__image {
  padding: var(--sp-1);
  background: radial-gradient(circle, var(--background-color) 0%, var(--color-footer) 100%);
}

.product__image img {
  transition: transform .3s ease-in-out;
}

.product:hover img {
  transform: translateY(-10px);
}

.product__content {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  background-color: var(--background-color);
  padding: var(--sp-1-5);
  min-height: 109px;
  transition: background-color 0.3s ease;
  border-radius: 5px;
  height: 150px;

}

.product__content:hover{
  background: linear-gradient(to bottom, var(--primary-color), var(--secondary-color));
}

.product__price{
  color: var(--primary-color);
  font-weight: bold;
}

.product__stock{
  color: var(--secondary-color);
  font-weight: bold;
}


.product__btn {
  position: absolute;
  top: 0;
  right: var(--sp-1-5);
  width: 45px;
  height: 45px;
  background-color: var(--primary-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  transition: background-color .3s ease-in-out,
              color .3s ease-in-out;
}


.product__btn:hover {
  background-color: var(--secondary-color);
  color: var(--background-color);
}

.product__price {
  grid-column: span 1;
}

.product__stock {
  grid-column: span 2;
  justify-self: flex-end;
}

.product__title {
  grid-column:  span 3;
}

/* ==========  BOTON DE CONTATCO  ==========  */

.footer .btn__contact button {
  font-weight: 700;
  padding: 9px 25px;
  background: var(--color);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s; 
  margin-top: 10px;
}

.footer .btn__contact button:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  transform: scale(1.3);
}


/*  ========= iconos del menu  ========= */

.bx-shopping-bag {
  font-size: 30px;
  color: var(--primary-color);
  transition: transform 0.3s ease;
}
.bx-shopping-bag:hover {
  transform: scale(1.2);
}

.bxs-t-shirt {
  font-size: 30px;
  color: var(--secondary-color);
  transition: transform 0.3s ease;
}
.bxs-t-shirt:hover {
  transform: scale(1.2);
}


.bx-home-smile {
  font-size: 30px;
  color: var(--primary-color);
  transition: transform 0.3s ease;
}

.bx-home-smile:hover {
  transform: scale(1.2);
}


.bx-grid-alt {
  font-size: 30px;
  color: var(--secondary-color)
  
}

.color_inicio {
  color: var(--primary-color);
  transition: transform 0.3s ease;

}

.color_productos{
  color: var(--secondary-color);
  transition: transform 0.3s ease;
}


/*  =================  FOOTER =================  */

.footer {
  padding-left: 50px;
  text-align: left;
  color: var(--color);
  background: var(--color-footer);
  padding-bottom:20px;
}

.main {
  padding-top: 5rem;
}

.footer__top {
  display: flex;
  justify-content: space-between;
}

.footer__left {
  margin-right: 20px;
}

.footer__title {
  margin-bottom: 10px;
}

.social__networks {
  margin-top: 20px;
}

.social__networks h4 {
  margin-bottom: 10px;
}


/*  ============== REDES SOCIALES FOOTER  ==============  */

.social__networks {
  list-style: none;
  font-weight: 700;
}

.social__networks li {
  display: inline-block;
  padding: 0 10px;
  margin-top: 0px;
}


  .bxl-facebook{
    color: #3b5998
  }
  .bxl-facebook:hover{
    transform: scale(1.7);
    transition: all 0.3s ease;  
  }

  .bxl-instagram{
    color: #E4405F
  }

  .bxl-instagram:hover{
    transform: scale(1.7);
    transition: all 0.3s ease;  
  }

  .bxl-twitter{
    color: #1DA1F2;
  }

  .bxl-twitter:hover{
    transform: scale(1.7);
    transition: all 0.3s ease;  
  }

  .bxl-whatsapp{
    color: #25D366;
  }

  .bxl-whatsapp:hover{
    transform: scale(1.7);
    transition: all 0.3s ease;  
  }

  /* ======= CART ======== */

  .cart {
    position: fixed;
    bottom: var(--header-height);
    right: -100%;
    max-width: 375px;
    width: 100%;
    height: calc(100vh - var(--header-height));
    background-color: var(--background-color);
    z-index: var(--z-fixed);
    transition: right .5s ease-in-out;
  }
  
  .cart__container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10% 70% 20%;
    height: 100%;
  }
  
  .cart__header {
    display: grid;
    grid-template-columns: 2fr 2fr .5fr;
    align-items: center;
    width: 100%;
    padding: var(--sp-1-5) 0 0 var(--sp-1);
  }
  
  .cart__title {
    grid-column: span 2;
  }
  
  .cart__btn.btn--close {
    font-size: var(--medium-font);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .cart__body {
    padding: var(--sp-1);
    overflow-y: auto;
  }
  
  .cart__empty {
    display: flex;
    align-items: center;
    gap: var(--sp-0-5);
    font-size: var(--normal-font);
  }
  
  .article {
    display: grid;
    grid-template-columns: 80px 1fr;
    grid-template-rows: 1fr;
    column-gap: var(--sp-1);
    margin-bottom: var(--sp-1);
  }
  
  .article__image {
    position: relative;
    width: 80px;
    height: 80px;
    overflow: hidden;
    border: 1px solid var(--card-color);
    align-self: center;
    
  }
  
  .article__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    
  }
  
  .article__content {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 30px;
  }
  
  .article__title {
    grid-column: span 4;
  }
  
  .article__quantity {
    grid-column: span 2;
    display: flex;
    align-items: center;
    justify-self: center;
    gap: var(--sp-1);
  }
  
  .remove-from-cart {
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    justify-self: flex-end;
  }
  
  .cart__footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    background-color: var(--card-color);
    padding: var(--sp-1);
    row-gap: var(--sp-1);
  }
  
  .cart__count {
    grid-column: span 2;
    font-size: var(--small-font);
  }
  
  .cart__total {
    grid-column: span 2;
    justify-self: end;
  }
  
  .btn--buy {
    grid-column: span 4;
    background-color: var(--primary-color);
    color: var(--background-color);
    padding: var(--sp-1);
  }

  .btn--buy:hover {
    background-color: var(--secondary-color);
  }
  
  /* Show Cart */
  .show--cart {
    right: 0;
  }


/* ======= BREAKPOINTS ======== */
@media (min-width: 768px) {
  :root {
    --header-height: 75px
  }


  .header {
    top: 0;
    bottom: unset;
  }

  .nav__list {
    display: flex;
    align-items: center;
  }

  .nav__menu
  .btn--close,
  .btn--menu {
    display: none;
  }

  .main {
    padding-top: var(--header-height);
  }

  .product__title {
    font-size: var(--small-font);
  }

  .cart {
    top: var(--header-height);
  }
}

@media (min-width: 1024px) {
  /* Aquí centramos las secciones, mediantes nuestras clases reutilizables */
  .section--title,
  .container {
    margin: 0 auto;
  }


}

